body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#D3F1DF;
    background-size: cover;
    background-position: center;
}

.card {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

#task-list .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item button {
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.list-group-item .edit {
    background-color: #28a745;
    color: white;
}

.list-group-item .delete {
    background-color: #dc3545;
    color: white;
}

.list-group-item .edit:hover {
    background-color: #218838;
}

.list-group-item .delete:hover {
    background-color: #c82333;
}
